body {
   background-color: aliceblue;
}
.main-container {
    margin: 0 20%;
}
header {
text-align: center;
}
section {
    margin: 3% 0;
    background-color: white;
    border-radius: 4% 4%;
    padding: 0 4%;
}
